#fichier d'association de broche pour le TP FullAdder

#Horloge principal
NET "clk" LOC = T8			| IOSTANDARD = LVCMOS33				|PERIOD = 8ns;

#Bouton utilisateur
NET "key1" LOC = C3			| IOSTANDARD = LVCMOS33;
NET "key2" LOC = D3			| IOSTANDARD = LVCMOS33;
NET "key3" LOC = E4			| IOSTANDARD = LVCMOS33;
NET "key4" LOC = E3			| IOSTANDARD = LVCMOS33;

#Ecran 4Digit7Seg+Pts à anode commune
NET "segA" LOC = C7			| IOSTANDARD = LVCMOS33;
NET "segB" LOC = E6			| IOSTANDARD = LVCMOS33;
NET "segC" LOC = C5			| IOSTANDARD = LVCMOS33;
NET "segD" LOC = F7			| IOSTANDARD = LVCMOS33;
NET "segE" LOC = D6			| IOSTANDARD = LVCMOS33;
NET "segF" LOC = E7			| IOSTANDARD = LVCMOS33;
NET "segG" LOC = D5			| IOSTANDARD = LVCMOS33;
NET "segDP" LOC = C6			| IOSTANDARD = LVCMOS33;
NET "segDP" LOC = C6			| IOSTANDARD = LVCMOS33;
NET "digit1" LOC = D8		| IOSTANDARD = LVCMOS33;
NET "digit2" LOC = E8		| IOSTANDARD = LVCMOS33;
NET "digit3" LOC = F9		| IOSTANDARD = LVCMOS33;
NET "digit4" LOC = F10		| IOSTANDARD = LVCMOS33;
NET "digit5" LOC = E10		| IOSTANDARD = LVCMOS33;
NET "digit6" LOC = D9		| IOSTANDARD = LVCMOS33;

#Buzzer
NET "buzzer" LOC = J11		| IOSTANDARD = LVCMOS33;

#LED intégrées
NET "led0" LOC = P4			| IOSTANDARD = LVCMOS33;
NET "led1" LOC = N5			| IOSTANDARD = LVCMOS33;
NET "led2" LOC = P5			| IOSTANDARD = LVCMOS33;
NET "led3" LOC = M6			| IOSTANDARD = LVCMOS33;

#;CARTE SD
NET "SD_NCS" LOC = N3			| IOSTANDARD = LVCMOS33;
NET "SD_DIN" LOC = L5			| IOSTANDARD = LVCMOS33;
NET "SD_CLK" LOC = M3			| IOSTANDARD = LVCMOS33;
NET "SD_DOUT" LOC = L4			| IOSTANDARD = LVCMOS33;

#UART
NET "RXD" LOC = C11				| IOSTANDARD = LVCMOS33;
NET "TXD" LOC = D12				| IOSTANDARD = LVCMOS33;

#RTC Clk
NET "RTC_SCIK" LOC = N3			| IOSTANDARD = LVCMOS33;
NET "RTC_nRST" LOC = L5			| IOSTANDARD = LVCMOS33;
NET "RTC_DATA" LOC = M3			| IOSTANDARD = LVCMOS33;

#SPI EEPROM
NET "EEPROM_SDA" LOC = P12		| IOSTANDARD = LVCMOS33;
NET "EEPROM_SCL" LOC = N12		| IOSTANDARD = LVCMOS33;

#Flash SPI
NET "SPI_CLK" LOC = R11			| IOSTANDARD = LVCMOS33;
NET "SPI_CS_N" LOC = T3			| IOSTANDARD = LVCMOS33;
NET "SPI_DIN" LOC = T10			| IOSTANDARD = LVCMOS33;
NET "SPI_DOUT" LOC = P10		| IOSTANDARD = LVCMOS33;